<div class="row">
        <div class="col-12 text-center my-3">
            <div class="col-sm-12 col-md-8 m-auto">
                <!-- <form [formGroup]="userGroup" (ngSubmit)="onSubmitFormUser()">
                    <div class="form-group d-flex justify-content-between">
                            <div>
                                <input type="text" class="form-control" formControlName="user" placeholder="Colocataire">
                            </div>
                            <button type="submit" class="btn btn-success" [disabled]="userGroup.invalid">Ajout</button>
                        </div>
                </form> -->
                <form [formGroup]="itemForm" (ngSubmit)="onSubmitForm()">
                    <div class="form-group d-flex justify-content-between">
                        <div >
                            <select class="form-control" formControlName="buyer">
                                <option value="">Selectionner un colocataire</option>
                                <option *ngFor="let user of users" value="{{user.name}}">{{user.name}}</option>
                            </select>
                            <input type="text" class="form-control" formControlName="item" placeholder="article">
                            <input type="number" class="form-control" formControlName="price" placeholder="prix">
                        </div>
                        <button type="submit" class="btn btn-success" [disabled]="itemForm.invalid">Ajout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<div class="container" *ngFor="let user of users">
    <div class="row">
        <div class="col-12 text-center my-3">
            <h1>{{user.name}} : {{user.total}} €</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <div *ngFor="let item of userItems, let i= index">
                    <div class="col-sm-12 col-md-8 m-auto d-flex justify-content-between" *ngIf="user.name===item.buyer">
                            <li class="list-group-item">{{item.name}}: {{item.price}} € </li>
                            <button class="btn btn-danger" (click)="onDeleteItem(i)">Retirer</button>
                    </div>
                    
                </div>
            </ul>
        </div>
    </div>
</div>
